body
{
    padding:0;
    margin:0;
    background-image:linear-gradient(45deg,#FF6464,#FFE162);
}

.container
{ 
    display:flex;
    height:80vh;
    width:70vw;
    margin:0 auto;
    transform:translateY(20vh);
}

.img-store
{
   height:80vh;
   width:42vw;
}

.img-store img
{
    height:100%;
    width:100%;
    object-fit:cover;
    border-top-left-radius: 25px;
}

.content
{
    background-color:white;
    width:28vw;
    border-top-right-radius: 25px;
}

